#wprie-cropper-wrapper .media-modal-backdrop {
	z-index: 17000000;
}

#wprie-cropper-wrapper .media-modal {
	z-index: 17000001;
}

#wprie-cropper-wrapper .media-frame-content,#wprie-cropper-wrapper .media-frame-router,#wprie-cropper-wrapper .media-frame-title
	{
	left: 0;
}

#wprie-cropper-wrapper .media-frame-content {
	padding-left: 16px;
}

#wprie-cropper-wrapper .attachments-browser .attachments {
	top: 9px;
}

#wprie-cropper-wrapper .media-frame-toolbar {
	border-top: none;
}

#wprie-cropper-wrapper .media-toolbar {
	border: none;
}

#wprie-cropper-wrapper .media-modal-close {
	border: none !important;
}

.wprie-not-existing-crop img {
	display: none;
}

.wprie-not-existing-crop p {
	font-style: italic;
	color: #ff0000;
}

#wprie-cropper-preview {
	overflow: hidden;
}

.wprie-thickbox.button {
	margin: 0 5px;
}

.wprie-cropper-quality-wrapper {
	display: inline-block;
	float: left;
	height: 30px;
	line-height: 28px;
	margin-top: 15px;
	padding: 0 12px 2px;
}