#wprie-cropper-wrapper .media-modal-backdrop {
	z-index: 17000000;
}

#wprie-cropper-wrapper .media-modal {
	z-index: 17000001;
}

#wprie-cropper-wrapper .media-frame-content,#wprie-cropper-wrapper .media-frame-router,#wprie-cropper-wrapper .media-frame-title
	{
	left: 0;
}

#wprie-cropper-wrapper .media-frame-content {
	padding-left: 16px;
}

#wprie-cropper-wrapper .attachments-browser .attachments {
	top: 9px;
}

#wprie-cropper-wrapper .media-frame-toolbar {
	border-top: none;
}

#wprie-cropper-wrapper .media-toolbar {
	border: none;
}

#wprie-cropper-wrapper .media-modal-close {
	border: none !important;
}

#wprie-cropper-wrapper .media-toolbar-primary .spinner {
	float: left;
	margin-top: 20px;
}

#wprie-cropper-replace-tools {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

#wprie-cropper-replace-tools.imgedit-menu {
	min-width: 0;
}

.wprie-not-existing-crop img {
	display: none;
}

#wprie-cropper-preview {
	overflow: hidden;
}

.wprie-thickbox.button {
	margin: 0 5px;
}

.wprie-cropper-quality-wrapper {
	display: inline-block;
	float: left;
	height: 30px;
	line-height: 28px;
	margin-top: 15px;
	padding: 0 12px 2px;
}

.wprie-size-row td,.wprie-size-row th {
	padding-bottom: 6px;
}

.wprie-size-type-row td,.wprie-size-type-row th {
	padding-top: 6px;
}

.wprie-size-row .wprie-first {
	display: inline-block;
	padding-right: 12px;
}

#wprie-replace-media-uploader .media-sidebar {
	display: none;
}

#wprie-replace-media-uploader .attachments-browser .attachments,#wprie-replace-media-uploader .attachments-browser .uploader-inline,#wprie-replace-media-uploader .attachments-browser .media-toolbar
	{
	right: 0;
}