#wprie-cropper-wrapper {
	margin: 20px 20px 30px 0;
}

#wprie-cropper-wrapper .wprie-buttons {
	margin-bottom: 20px;
}

.wprie-not-existing-crop img {
	display: none;
}

.wprie-not-existing-crop p {
	font-style: italic;
	color: #ff0000;
}